<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="open"></i>
                <i class="fas fa-times" id="close"></i>
            </label>
            <ul class="nav-list">
                <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                <%if (!locals.session.userId) { %>
                    <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                <% }else{ %>
                    <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                        <div class="dropdown-content">
                          <a class="nav-link" href="/profile">Profile</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        </div>
                      </div>
                    </li>
                <%}%>
            </ul>
        </nav>
    </div>

    <!-- info section -->
    <section id="info" class="info">
        <div class="container">
            <div class="row">
                <div class="col-2 padding-right">
                    <h2 class="text-green">WELCOME TO Hong Phuong</h2>
                    <p class="info-text text-green">AMONG THE BEST 5-STAR LUXURY HOTELS IN THE CENTER OF HANOI</p>
                    <p class="info-text text-green">Surrounded by lush green spaces and wide, tree-lined boulevards, 
                    Hong Phuong provides a quiet escape in the city center. 
                    Easily accessible from Noi Bai International Airport and close to major roadways that link to all parts of the city, 
                    our neighborhood is in a convenient position both for conducting business and for seeing Hanoi's sights. </p>
                    <p class="info-text text-green">In the area around the hotel, you will find Dai Co Viet Street, 
                    with its colorful shop houses and towering trees. Just behind the hotel there is the peaceful Thong Nhat Park, 
                    a popular attraction for local families. Visitors of all ages can enjoy paddling swan boats on the lake, 
                    wandering through the gardens, take some fresh air and exercise.</p>
                </div>
                <div class="col-2 image-group">
                    <img src="images/about-img-1.jpg" alt="image">
                    <img src="images/about-img-2.jpg" alt="image">
                </div>
            </div>
        </div>
    </section>

    <!--service section-->
    <section class="excellent-service">
        <div class="container">
            <div class="headlines">
                <div>
                    <h2 class="sub-headline">
                        Excellent
                    </h2>
                </div>
                <div>
                    <h2>Service</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- feature section -->
    <section class="features">
        <div class="container container-medium">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-gift"></i>
                    <h4>Special Offers</h4>
                    <p> Here you will find the best promotions from accomondations and dining to honors Discount rate, etc.</p>
                </div>
                <div class="col-3">
                    <i class="fas fa-bed"></i>
                    <h4>Orthopedic Beds</h4>
                    <p> More than 400 ample and luminous rooms. </p>
                </div>
                <div class="col-3">
                    <i class="fas fa-utensils"></i>
                    <h4>Amazing Food</h4>
                    <p> Culinary diversity of gourmet local and international fare.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-trophy"></i>
                    <h4>High Rating</h4>
                    <p> One of the first international 5-star hotels, with the aim of providing visitors
                        with the perfect experience during their stay in Hanoi.</p>
                </div>
                <div class="col-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Best Locations</h4>
                    <p> Find us in the center of Hai Ba Trung, Hanoi. 2000 meters from Hanoi Opera House. 
                        Hoan Kiem Lake is ten minutes away and the Old Quarter is two kilometres north. 
                        Thong Nhat Park, is within 500 meters.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- brands display section -->
    <section class="brands">
        <div class="container">
            <div class="slider">
                <div class="slider-box">
                    <img src="images/brands-1.png" alt="brands">
                </div>
                <div class="slider-box">
                    <img src="images/brands-2.png" alt="brands">
                </div>
                <div class="slider-box">
                    <img src="images/brands-3.png" alt="brands">
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#info"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world. 
                    We provide a luxorious stay with various value added and free services which will make you visit us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with La Hotel.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>