<!DOCTYPE html>
<html>
<head>
    <title>Login for Admin</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script>
        function validateAcc(){
            validateEmail(em); // check email
            validateName(fnm); // check name
            validateName(lnm);
        }
        function validateEmail(email) {
            var email = document.getElementById(email);
            if (email.value === "") {
                alert("Your Email Address must be filled out");
                return false;
            } else {
                var regExpEmail =
                    /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!regExpEmail.test(email.value)) {
                    alert("Email is not in correct format");
                    email.focus();
                    return false;
                }
            }
        }

        // validate the input name
        function validateName(targetId) {
            var name = document.getElementById(targetId);
            var regExpFirstName = /^[A-Z][a-z]+$/;
            var space = /\s/;
            if (name.value === "") {
                alert(targetId+" must be filled out");
                return false;
            } else {
                if (!regExpFirstName.test(name.value) && !space.test(name.value)) {
                    alert("Please enter "+targetId+" in correct format");
                    name.focus();
                    return false;
                }
            }
        }
    </script>
</head>
<body>
    <div class="container" id="container">
        <!-- <div class="form-container sign-in-container"> -->
            <form method="post" action="/admin/login">
                <h1 style="padding-bottom: 15px">Login (Boss Only)</h1>
                <% if (message) { %>
                    <div class="alert alert-info"><%= message %></div>
                <% } %>
                <input type="email" name="email" placeholder="Email" id="email" required style="width: 300px;">
                <div class="password-container">
                    <input type="password" placeholder="Password" id="password" name="password" required >
                    <!-- <i class="fa-solid fa-eye" id="eye"></i> -->
                </div>
                <a><button style="margin-top: 10px"> Welcome...</button></a>
            </form>
        <!-- </div> -->
    </div>
</body>