<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hong Phuong</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a class="logo" href="/index">Hong Phuong</a>
                <input type="checkbox" id="check">
                <label for="check">
                    <i class="fas fa-bars" id="open"></i>
                    <i class="fas fa-times" id="close"></i>
                </label>
                <ul class="nav-list">
                    <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                    <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                    <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                    <%if (!locals.session.userId) { %>
                        <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                    <% }else{ %>
                        <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                            <div class="dropdown-content">
                              <a class="nav-link" href="/profile">Profile</a>
                              <a class="nav-link" href="/logout">Logout</a>
                            </div>
                          </div>
                        </li>
                    <%}%>
                   
                </ul>
            </nav>
            
        </div>
        <% if (message && message.length > 0) { %>
            <div class="alert alert-success" style="width: 100%;"><%= message[0] %></div>
          <% } %>
        <div id="hero" class="hero">
            <div class="container">
                <div class="hero__text-box">
                    <h1 class="hero__text">
                        <span class="hero__text-top">Luxury</span>
                        <span class="hero__text-bottom">Comfort</span>
                    </h1>
                    <a href="/booking"><button class="btn btn-green">Book a Room</button></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- info section -->
        
          
        <section class="info">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <p class="info-text text-green">Being at the forefront of upscale hospitality in the nation's
                            capital since 2000s,
                            inhabiting a prestigious neighborhood amid embassies and parks, Hong Phuong is honored to
                            be the choice
                            for visiting dignitaries and heads of state for more than two decades.</p>
                        <p class="info-text text-green">Sumptuously decorated in a timelessly classic style,
                            Hong Phuong continues its legacy of legendary hospitality,
                            welcoming discerning business and leisure travelers from around the world.</p>
                        <p class="info-text text-green">With our well-appointed guest rooms,
                            an indulgent spa and picturesque gardens with the largest swimming pool in the city,
                            Hong Phuong promises an exceptional experience, no matter the purpose of your stay.</p>
                    </div>
                    <div class="col-2 image-group">
                        <img src="images/blog-list-img-1.jpg" alt="image">
                        <img src="images/blog-list-img-2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </section>

        <!-- rooms section -->
        <section class="rooms">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <img src="images/rooms.jpg" alt="image">
                    </div>
                    <div class="col-2">
                        <div class="text-box">
                            <h2 class="headline">Rooms</h2>
                            <p> Hong Phuong provides more than 400 ample and luminous rooms,
                                all decorated in warm colors with superior quality wooden furniture,
                                with a full range of facilities and exclusive services to ensure that our guests enjoy
                                an unforgettably pleasant stay.
                                The greatest care has been taken of even the tiniest details to guarantee that your stay
                                in Hanoi is a truly exceptional experience.</p>
                            <a href="/rooms"><button class="btn btn-green">Explore Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- restaurant section -->
        <section class="restaurant">
            <div class="container">
                <div class="row column-reverse">
                    <div class="col-2 padding-right">
                        <div class="text-box">
                            <h2>Restaurant</h2>
                            <p>A delectable culinary experience with gourmet local and international fare such as
                                Vietnamese traditional cuisine,
                                extravagant breakfast buffets, lavish Chinese banquets,
                                beautifully plated sushi and sashimi at [Hong Phuong] that delights every palate.</p>
                            <a href="/restaurant"><button class="btn btn-white">Join With Us</button></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="images/restaurant.jpg" alt="image">
                    </div>
                </div>
            </div>
        </section>

        <!-- service section -->
        <section class="spa">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <img src="images/spa.jpg" alt="image">
                    </div>
                    <div class="col-2">
                        <div class="text-box">
                            <h2>Facilities&amp;Wellness</h2>
                            <p>Relax with an indulgent massage or reenergize in the gym - [Hong Phuong]
                                help you stay balanced with a luxurious onsite spa and a well - equipped fitness center.
                            </p>
                            <p>Additionally, The manicured gardens of [Hong Phuong] provide a serene escape in the middle
                                of the city.
                                With lush plants and trees, a babbling stream and a garden gazebo,
                                it should be a picturesque place for a moment of quiet relaxation.
                                A children's playground is located at the edge of the gardens,
                                equipped with slides and climbing frame.</p>
                            <a href="/spa"><button class="btn btn-green">Learn More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- testimonal section -->
        <section class="testimonials">
            <div class="container">
                <h2 class="heading-text">Customers Reviews</h2>
                <div class="slider">
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>Very clean and good service. Super comfortable bed. 
                            Complete gym with jacuzzi and sauna in the locker room. 
                            Location is good, it's a walking distance to the old quarter.</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="images/user-1.jpg" alt="user">
                        <h3>Long</h3>
                    </div>
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>The hotel room was clean, the staff were exceptionally polite and 
                            it was a lovely stay overall. Definitely recommended!</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="images/user-2.jpg" alt="user">
                        <h3>Hieu</h3>
                    </div>
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>So happy staying thanks to friendly staffs and convenient facilities! 
                            Such an amazing time here!</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="images/user-3.jpg" alt="user">
                        <h3>Bach</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world.
                        We provide a luxorious stay with various value added and free services which will make you visit
                        us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with us.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../public/app.js"></script>
</body>

</html>