<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="open"></i>
                <i class="fas fa-times" id="close"></i>
            </label>
            <ul class="nav-list">
                <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                <%if (!locals.session.userId) { %>
                    <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                <% }else{ %>
                    <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                        <div class="dropdown-content">
                          <a class="nav-link" href="/profile">Profile</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        </div>
                      </div>
                    </li>
                <%}%>
            </ul>
        </nav>
    </div>

    <!-- menu section -->
    <section id="our-menu" class="our-menu">
        <div class="container">
            <div class="menu-header">
                <i class="fas fa-utensils"></i>
                <h2 class="headline">Restaurant</h2>
                <p>Extravagant breakfast buffet in Hanoi, lavish Chinese banquets, beautifully plated 
                sushi and sashimi - cuisines at our hotel delight every palate. 
                With a wide choice of different dishes, a lounge and an onsite bakery, 
                Hong Phuong offers guests a delectable culinary experience that spans the best of local and international fare.</p>
            </div>
            <div class="menu-table">
                <div class="container container-medium">
                    <div class="col-2">
                        <div>
                            <h3>BRODARD TERRACE - CAFÉ HANOI</h3>
                            <p>Bathed in the sunlight or covered by the starry night, 
                            Brodard Terrace - Café Hanoi is a trendy and perfect venue for capital gourmets, at any time of the day. 
                            Settle in for the joyful urban rendez-vous while immersing in our creative all-day-dining menu, 
                            an exquisite beverage collection or the mouthwatering healthy corner.</p>
                        </div>
                        <div>
                            <h3>LAKEVIEW SKY LOUNGE</h3>
                            <p>Nothing can be better than admiring the picturesque view of the bustling Hanoi from above and sipping a cup of premium cocktail? 
                            Located on the 18th floor, Lakeview Sky Lounge is not only the ultimate place to socialize 
                            but also the perfect spot for any private event or small-scale luxurious ones.</p>
                        </div>
                        <div>
                            <h3>COURT LOBBY LOUNGE</h3>
                            <p>This opulent, light-drenched venue on the 1st floor serves premium beverages and sweet treats, 
                            including homemade cakes and gelatos. Featuring an elegant indoor setting along with an unrivaled al fresco terrace, 
                            this is the ideal place to meet up with colleagues or relax with friends over a delicious array of healthy foods.</p>
                        </div>
                        <div>
                            <h3>WIBU JAPANESE RESTAURANT</h3>
                            <p>With fresh imported seafood, Teppanyaki and a selection of beautifully presented sushi and sashimi, 
                            Customers are offered an authentic Japanese dining experience in a refined environment. 
                            Pair your meal with one of premium sakes. 
                            04 VIP dining rooms are available for private event, business lunch, family or friends reunion. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-gallery">
                <div class="row">
                    <div class="col-3">
                        <img src="images/menu-gallery-1.jpg" alt="menu-image">
                    </div>
                    <div class="col-3">
                        <img src="images/menu-gallery-2.jpg" alt="menu-image">
                    </div>
                    <div class="col-3">
                        <img src="images/menu-gallery-3.jpg" alt="menu-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#our-menu"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world. 
                    We provide a luxorious stay with various value added and free services which will make you visit us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with us.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>