<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="open"></i>
                <i class="fas fa-times" id="close"></i>
            </label>
            <ul class="nav-list">
                <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
                <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="/spa" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/booking" class="nav-link book-btn">Book Now</a></li>
                <%if (!locals.session.userId) { %>
                    <li class="nav-item"><a href="/loginform" class="nav-link book-btn">Login</a></li>
                <% }else{ %>
                    <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link book-btn" style="cursor: pointer;">User</button>
                        <div class="dropdown-content">
                          <a class="nav-link" href="/profile">Profile</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        </div>
                      </div>
                    </li>
                <%}%>
            </ul>
        </nav>
    </div>

    <!-- rooms list -->
    <section id="rooms-list" class="rooms-list">
        <div class="container container-medium">
            <div class="row row-2">
                <h2>Rooms</h2>
                <select style="width: 15%;">
                    <option>Default</option>
                    <option>Sort by Price</option>
                    <option>Sort by Reviews</option>
                    <option>Sort by Popularity</option>
                    <option>Sort by Spacing</option>
                </select>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-1.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>Single Room</h4>
                            <p>A spacious sigle room which has large single bed, locates between the 4th and 13rd floor 
                                with sweeping view overlooking the vibrant city.</p>
                            <p class="price"><span>$100</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-2.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>Double Room</h4>
                            <p>Providing an average of 34sqm of comfortable living space, 
                                the Luxury Double Room offers a perfect blend of classical elegance</p>
                            <p class="price"><span>$150</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-3.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>Triple Room</h4>
                            <p>Located on upper level with panoramic view of Ho Guom, 
                                the Standard One Person Room is the perfect retreat to leave behind the hassle of daily life and experience.</p>
                            <p class="price"><span>$200</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-4.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>Quad Suite</h4>
                            <p>Spacious in size and elegant in style, the Deluxe Quad Suite features a living room, 
                                an airy bedroom and a comfortable working area for greater privacy.</p>
                            <p class="price"><span>$250</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-5.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>President Suite</h4>
                            <p>Embodies the elegance that defines our luxury hotel, 
                                the President Suites are beautifully decorated in elegant tones that create a distinctive atmosphere.</p>
                            <p class="price"><span>$400</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="room-image">
                        <img src="images/room-6.jpg" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <h4>Rooftop Suite</h4>
                            <p>Nestled on the top floor, the Rooftop Suite provides an ingenious blend of luxury and private living, 
                                featuring the full range of first class hotel services.</p>
                            <p class="price"><span>$350</span> / night</p>
                            <a href="#">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#rooms-list"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <h4>About</h4>
                    <p>We are a part of chain of luxury hotels which extends all over the world. 
                    We provide a luxorious stay with various value added and free services which will make you visit us over and over again.
                    </p>
                </div>
                <div class="col-3">
                    <h4>Payment Methods</h4>
                    <p>Pay any way you choose, we support all payment options</p>
                    <ul class="payment-methods">
                        <li>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-apple-pay"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Get Social</h4>
                    <p>Follow us on social media and keep in touch with us.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>